nav {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #003ea5;
    font-size: 17px;
    color: #fff;

    ul {
        display: flex;
        align-items: center;
        gap: 20px;

    }


}

h1 {
    margin: 20px 0;
    // border: 1px solid red;
    width: 32%;
    font-size: 55px;
    /* text-align: justify; */
    animation-name: slide;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 2;

}

@keyframes slide {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(100px);
    }
}
.hero{
display: flex;
justify-content: space-around;
align-items: center;
padding: 20px;
margin-top: 50px;
.home-img{
    // border: 1px  solid  red;
    height: 500px;
    width: 50%;
    display: flex;
    align-items: center;
    
 .card{
    flex: 1;
    height: 100%;
     overflow: hidden;
    transition: all 0.5s;
    margin: 0 2px;
    
    img{
    
        width: 200%;    object-fit: cover;
     height: 100%;
        filter: grayscale(1);
        &:hover{
            filter: none;

        }
    }
    &:hover{

        flex: 5;
        // overflow: visible;
    }
 }

}

}

.card{
// border: 1px solid blue;
width: 450px;
border-radius: 4px;
height: 300px;
display: flex;
flex-direction: column;
padding: 20px 20px;
font-weight: 300;
box-shadow: 0 5px 15px #e4e4e4;
>div:first-child{
    width: 100%;
    height: 70%;
    // border: 1px solid red;
    img{
        width: 100%;
        height: 100%;
    }
}
>div:last-child{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    h3,h2{
        font-weight: 500;
        font-size: 20px;
    }
    h2{
        font-size: 26px;
    }
}
}